body {
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://avatars.mds.yandex.net/get-pdb/1780055/42efcfb6-0e6a-4f9e-ac2b-e199bbf508cd/orig");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: green; }

.main {
  width: 60%;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center; }
